---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik-deployment
  namespace: {{ traefik_namespace }}
spec:
  selector:
    matchLabels:
      app: traefik
  replicas: {{ traefik_replicas }}
  template:
    metadata:
      labels:
        app: traefik
    spec:
      containers:
      - name: traefik
        image: traefik:v2.9
        args:
        - --api.insecure
        - --providers.kubernetesingress
        - --providers.kubernetescrd
        - --providers.kubernetescrd.allowCrossNamespace=true
        - --configfile=/config/traefik.yaml
        ports:
          - name: web
            containerPort: 80
          - name: dashboard
            containerPort: 8080